<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Your Name">

		<title>Patient Not Found</title>

		<!-- Styles
		================================================== -->
		<link rel="stylesheet" type="text/css" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600">
		<link rel="stylesheet" type="text/css" media="screen" href="/static/snapshot/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/static/snapshot/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/static/snapshot/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/static/snapshot/css/derek.css">
		<link rel="stylesheet" type="text/css" media="screen" href="/static/snapshot/css/custom.css">

		<link rel="shortcut icon" href="/static/snapshot/css/favicon.ico">

		<!-- IE support
		================================================== -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/css3-mediaqueries.js"></script>
		<![endif]-->
		<!--[if IE 7]>
			<link rel="stylesheet" href="css/font-awesome-ie7.min.css">
		<![endif]-->
	</head>

	<body>
		<div class="container-fluid wrapper">

			<!-- Heading 
			================================================== -->
			<div class="row-fluid heading">
				
				<div class="span8">
					<img class="my-picture" src="/static/snapshot/img/default_user_picture.png" alt="Photo of Your Name">
					<h1 class="my-name">Patient Not Found</h1>
					<h2 class="my-profession">Please check the link and try again</h2>
					<p class="my-message">
						
					</p>
				</div>



			</div>

			

		</div><!-- end of container -->

		<!-- Javascript 
		================================================== -->
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
		<script src="/static/snapshot/js/jquery-1.9.1.min.js"></script>
		<script src="/static/snapshot/js/jquery.masonry.min.js"></script>
		<script src="/static/snapshot/js/bootstrap.min.js"></script>
		<script src="/static/snapshot/js/derek.js"></script>

	</body>
</html>